
body {
    font-family: Monaco;
}

.calculator-container {
    display: block;
    width: 320px;
    padding: 16px;
    margin: auto;
    border: solid 1px blue;
    border-radius: 4px;

}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 64px;
    padding: 8px;
    margin: 4px;
    border: solid 1px #212121;
    border-radius: 4px;
    background-color: #F5F5F5;
}

#top-display-text {
    font-size: 15px;
    color: #616161;
}

#bottom-display-text {
    font-size: 19px;
    font-weight: 900;
    color: #212121;
}

.small-btn-div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    
}

.small-btn {
    width: auto;
    height: 40px;
    margin: 4px;
}

.big-btn-div {
    display: flex;
    justify-content: space-between;
    margin: 8px 4px 4px 4px;
}

.big-btn {
    width: 172px;
    height: 40px;
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top-logo-text {
    font-size: 18px;
    color: #212121;
    font-family: brush script MT;
    font-weight: 600;
    letter-spacing: 2px;
}

#bottom-logo-text {
    font-size: 9px;
    font-weight: 100;
    color: #616161;
    font-family: inherit;
}

